//footer
.page-footer {
  background-color: $color1;
  padding: 5%;

  .container {

  }

  .row {
    text-align: left;
  }
  .col-md-3 {
    float: none;
  }
  h5 {
    text-align: left;
  }
  img {

  }
}
