//footer
.page-footer {
  background-color: $color1;
  padding: 5%;

  .row {
    align-items: baseline;
  }
  .col-md-3 {
    text-align: left;
  }
  h5 {
    text-align: left;
  }
  img {
    ;
  }
}
