//tabs
#nav-tabs {

  .container {

  }

  .row {
    justify-content: center;
  }
  .nav-tabs-wrapper {
    display: inline-block;
    }
    ul {

    }
    li {

    }
    a {
      color: gray;
    }
    .nav-tabs {
      text-align: center;
  }
}
