//Variables

    //colors
    $color1: rgba(69, 73, 85, 1); //#454955 gray
    $color2: rgba(243, 239, 245, 1); //#f3eff5 lightest gray
    $color3: rgba(21, 127, 31, 1); //#157f1f green
    $color4: rgba(209, 240, 177, 1); //#d1f0b1 lightest green
    $color5: rgba(186, 217, 181, 1); //#bad9b5 light green

    //fonts
    $mainFont: 'Poppins';
    $font: 'Roboto';
    $h1: 46px;
    $h2: 32px;
    $h3: 21px;
    $paragraph: 32px;
