// Typography rules


@import 'utilities/variables';
@import 'base/fonts';



 //@font-face {
   //font-family: 'Roboto';
   //src: url('Fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
    //     url('Fonts/Roboto/Roboto-Light.ttf') format('truetype'),
    //     url('Fonts/Roboto/Roboto-Bold.ttf') format('truetype');

 //}


h1 {
  color: $color3;
  font-family: $fontOne;
}

h2 {
  font-family: $fontOne;
}

h3 {
  font-family: $fontOne;

}

h4 {
  font-family: $fontOne;

}

h5 {
  font-family: $fontOne;

}

p {
  color: $color1;
  font-family: $fontTwo;
}

a {
  color: $color4;
  font-family: $fontTwo;
}
