// Typography rules


@import 'utilities/variables';



 //@font-face {
   //font-family: 'Roboto';
   //src: url('Fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
    //     url('Fonts/Roboto/Roboto-Light.ttf') format('truetype'),
    //     url('Fonts/Roboto/Roboto-Bold.ttf') format('truetype');

 //}


h1 {
  color: $color3;
  font-family: $mainFont;
}

h2 {
  font-family: 'Poppins-Regular';
}

h3 {
  font-family: 'Poppins-Regular';

}

h4 {
  font-family: 'Poppins-Regular';

}

h5 {
  font-family: 'Poppins-Regular';

}

p {
  color: $color1;
  font-family:'Roboto';
}

a {
  color: $color4;
  font-family: 'Roboto';
}
