//product list page styles
.header-products {
  height: auto;
  background-color: $color5;
  align-content: center;
}


#nav-tabs {

  .container {

  }

  .row {
    justify-content: center;
  }
  .nav-tabs-wrapper {
    display: inline-block;
    }
    ul {

    }
    li {

    }
    a {
      color: red;
    }
    .nav-tabs {
      text-align: center;
  }
}
