//services page styles
.header-services {
  background-image: url(images/545.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 700px;
  align-content: center;


  .container-fluid {

  }
}
#service-one {
  background-color: $color2;
  padding: 5%;

}


#service-two {
  background-color: $color4;
  padding: 5%;

}

#service-three {
  background-color: $color2;
  padding: 5%;
}
